<!-- Services Section -->
    <section id="confirmedspeakers">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Confirmed Speakers</h2>
                </div>
            </div>
            <div class="row container">
                <p>



Svetlana Berdyugina<br> <br>
Fabienne Bastien<br> <br>
Helen Giles<br> <br>
Brett Morris<br> <br>
More to come...                    
                    
</p>

            </div>
        </div>
    </section>
