<!-- Services Section -->
    <section id="confirmedspeakers">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Confirmed Speakers</h2>
                </div>
            </div>
            <div class="row container">
                <p>

            <i> See our <a href="https://knowthystarspot.github.io/agenda">agenda</a> for the full schedule.  </i> <br>

            Svetlana Berdyugina<br>
            Fabienne Bastien<br>
            Helen Giles<br>
            Mayukh Panja <br>
            Silva Jarvinen <br>
            Lisa Lehmann <br>
            Jyri Lehtinen <br>
            Belinda Nicholson <br>
            Aurora Kesseli <br>
            Natalie Gosnell <br>
            Fabienne Bastien <br>
            Ben Rackham <br>
            Lauren Doyle
            </div>
        </div>
    </section>
