<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Scientific Rationale</h2>
                </div>
            </div>
            <div class="row container">
                <p>


The regions of intense magnetic activity and suppressed convection known as starspots are a ubiquitous feature on the surface of cool stars. Sometimes maligned as a contaminating nuisance for spectral typing and planet finding, starspots are instead an important and fascinating physical phenomenon deserving of intensive study in their own right. They represent a fundamental component of the surface layers of magnetically-active and rapidly-rotating stars, which cannot be neglected.

<br> <br>

Ample historical literature exists on the detection and characterization of starspots using diverse techniques such as Doppler imaging, spectroscopy of Zeeman-broadened absorption lines, and molecular band flux measurements. Piggy-backing on this legacy, the last few years have witnessed a slew of new spot detection methods come to maturation, which harness different observational techniques such as interferometry, two-temperature spectral modeling, exoplanet transits, and high cadence space-based photometry. These recent advances have brought fresh insights into the nature of spot temperatures, sizes, and distributions, and we are only beginning to scratch the surface.
<br> <br>
Concurrent with this spot characterization renaissance has been the growing recognition that starspots, and magnetic activity more generally, play a major role in shaping the structure and evolution of active stars. Numerous astrophysical puzzles, including the enigmatic radius inflation phenomenon, spreads in age and lithium abundance during the pre- and zero-age main sequences, and the mysterious existence of sub-sub-giants, have been credibly suggested as bi-products of spot-induced perturbations to stellar structure. Fully unraveling the mystery of starspots thus promises important implications across the full sweep of cool star astrophysics.
<br> <br>
Given these recent advances, the time is ripe for the community to coalesce and discuss what we have learned about the detection, characterization, and broader implications of starspots. We are planning a wide-ranging conversation centered on two major topics, summarized as "Know Thy Starspot, Know Thy Star".

</p>

            </div>
        </div>
    </section>
