<!-- Services Section -->



    <section id="intro2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Live updates</h2>
                </div>
            </div>
            <div class="row container">
                <p>


          <em>7/31/2018</em>-- <br>
          We will be live broadcasting the splinter session on YouTube!  <br>
          Stay tuned to this location for an updated link.  <br>
          The Splinter Session hashtag is #KnowThyStarspot



</p>

            </div>
        </div>
    </section>
